<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Constitution</key>
	<array>
		<dict>
			<key>sectionTitle</key>
			<string>Preámbulo</string>
			<key>sectionLabel</key>
			<string>Preámbulo</string>
			<key>sectionDir</key>
			<string>preamble</string>
			<key>sectionContentFile</key>
			<string>constitution_preamble_index</string>
		</dict>
		<dict>
			<key>sectionTitle</key>
			<string>Del Estado Libre Asociado de Puerto Rico</string>
			<key>sectionLabel</key>
			<string>Artículo I</string>
			<key>sectionDir</key>
			<string>article_1</string>
			<key>sectionChildren</key>
			<array>
				<dict>
					<key>sectionTitle</key>
					<string>Constitución del Estado Libre Asociado de Puerto Rico</string>
					<key>sectionLabel</key>
					<string>Sección 1</string>
					<key>sectionContentFile</key>
					<string>constitution_article_1_section_1</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Forma de gobierno</string>
					<key>sectionLabel</key>
					<string>Sección 2</string>
					<key>sectionContentFile</key>
					<string>constitution_article_1_section_2</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Area geográfica</string>
					<key>sectionLabel</key>
					<string>Sección 3</string>
					<key>sectionContentFile</key>
					<string>constitution_article_1_section_3</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Sede del gobierno</string>
					<key>sectionLabel</key>
					<string>Sección 4</string>
					<key>sectionContentFile</key>
					<string>constitution_article_1_section_4</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>sectionTitle</key>
			<string>Carta de Derechos</string>
			<key>sectionLabel</key>
			<string>Artículo II</string>
			<key>sectionDir</key>
			<string>article_2</string>
			<key>sectionChildren</key>
			<array>
				<dict>
					<key>sectionTitle</key>
					<string>Dignidad e igualdad del ser humano; discrimen, prohibido</string>
					<key>sectionLabel</key>
					<string>Sección 1</string>
					<key>sectionContentFile</key>
					<string>constitution_article_2_section_1</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Sufragio, franquicia electoral</string>
					<key>sectionLabel</key>
					<string>Sección 2</string>
					<key>sectionContentFile</key>
					<string>constitution_article_2_section_2</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Libertad de culto</string>
					<key>sectionLabel</key>
					<string>Sección 3</string>
					<key>sectionContentFile</key>
					<string>constitution_article_2_section_3</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Libertad de palabra y de prensa; reunión pacifica; petición para reparar agravios</string>
					<key>sectionLabel</key>
					<string>Sección 4</string>
					<key>sectionContentFile</key>
					<string>constitution_article_2_section_4</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Instrucción pública</string>
					<key>sectionLabel</key>
					<string>Sección 5</string>
					<key>sectionContentFile</key>
					<string>constitution_article_2_section_5</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Libertad de organización</string>
					<key>sectionLabel</key>
					<string>Sección 6</string>
					<key>sectionContentFile</key>
					<string>constitution_article_2_section_6</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Derecho a la vida, a la libertad y al disfrute de la propiedad; pena de muerte, no existirá; debido proceso; igual protección de las leyes; menoscabo de contratos; propiedad exenta de embargo</string>
					<key>sectionLabel</key>
					<string>Sección 7</string>
					<key>sectionContentFile</key>
					<string>constitution_article_2_section_7</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Protección contra ataques a la honra, a la reputación y a la vida privada</string>
					<key>sectionLabel</key>
					<string>Sección 8</string>
					<key>sectionContentFile</key>
					<string>constitution_article_2_section_8</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Justa compensación por propiedad privada</string>
					<key>sectionLabel</key>
					<string>Sección 9</string>
					<key>sectionContentFile</key>
					<string>constitution_article_2_section_9</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Registros e incautaciones; intercepción de comunicaciones telefónicas; mandamientos</string>
					<key>sectionLabel</key>
					<string>Sección 10</string>
					<key>sectionContentFile</key>
					<string>constitution_article_2_section_10</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Procesos criminales; juicio ante jurado; autoincriminación; doble exposición por el mismo delito; fianza; encarcelación</string>
					<key>sectionLabel</key>
					<string>Sección 11</string>
					<key>sectionContentFile</key>
					<string>section_11</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Esclavitud; servidumbre involuntaria; castigos crueles e inusitados; derechos civiles; leyes &quot;ex post facto&quot;; &quot;proyectos&quot; para condenar sin celebración de juicio</string>
					<key>sectionLabel</key>
					<string>Sección 12</string>
					<key>sectionContentFile</key>
					<string>constitution_article_2_section_12</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Hábeas corpus; autoridad militar, subordinada</string>
					<key>sectionLabel</key>
					<string>Sección 13</string>
					<key>sectionContentFile</key>
					<string>constitution_article_2_section_13</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Títulos de nobleza; regalos de países extranjeros</string>
					<key>sectionLabel</key>
					<string>Sección 14</string>
					<key>sectionContentFile</key>
					<string>constitution_article_2_section_14</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Empleo y encarcelación de menores</string>
					<key>sectionLabel</key>
					<string>Sección 15</string>
					<key>sectionContentFile</key>
					<string>constitution_article_2_section_15</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Derechos de los empleados</string>
					<key>sectionLabel</key>
					<string>Sección 16</string>
					<key>sectionContentFile</key>
					<string>constitution_article_2_section_16</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Derecho a organizarse y negociar colectivamente</string>
					<key>sectionLabel</key>
					<string>Sección 17</string>
					<key>sectionContentFile</key>
					<string>constitution_article_2_section_17</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Derecho a la huelga, a establecer piquetes, etc.</string>
					<key>sectionLabel</key>
					<string>Sección 18</string>
					<key>sectionContentFile</key>
					<string>constitution_article_2_section_18</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Interpretación liberal de los derechos del ser humano y facultades de la Asamblea Legislativa</string>
					<key>sectionLabel</key>
					<string>Sección 19</string>
					<key>sectionContentFile</key>
					<string>constitution_article_2_section_19</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Derechos humanos reconocidos; deber del pueblo y del gobierno</string>
					<key>sectionLabel</key>
					<string>Sección 20</string>
					<key>sectionContentFile</key>
					<string>constitution_article_2_section_20</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>sectionTitle</key>
			<string>Del Poder Legislativo</string>
			<key>sectionLabel</key>
			<string>Artículo III</string>
			<key>sectionDir</key>
			<string>article_3</string>
			<key>sectionChildren</key>
			<array>
				<dict>
					<key>sectionTitle</key>
					<string>La Asamblea Legislativa</string>
					<key>sectionLabel</key>
					<string>Sección 1</string>
					<key>sectionContentFile</key>
					<string>constitution_article_3_section_1</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Número de miembros</string>
					<key>sectionLabel</key>
					<string>Sección 2</string>
					<key>sectionContentFile</key>
					<string>constitution_article_3_section_2</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Distritos senatoriales y representativos; senadores y representantes por acumulación</string>
					<key>sectionLabel</key>
					<string>Sección 3</string>
					<key>sectionContentFile</key>
					<string>constitution_article_3_section_3</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Junta revisadora de los distritos senatoriales y representativos</string>
					<key>sectionLabel</key>
					<string>Sección 4</string>
					<key>sectionContentFile</key>
					<string>constitution_article_3_section_4</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Requisitos de miembros de la Asamblea Legislativa</string>
					<key>sectionLabel</key>
					<string>Sección 5</string>
					<key>sectionContentFile</key>
					<string>constitution_article_3_section_5</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Residencia en distrito</string>
					<key>sectionLabel</key>
					<string>Sección 6</string>
					<key>sectionContentFile</key>
					<string>constitution_article_3_section_6</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Representación de partidos de la minoría; miembros adicionales</string>
					<key>sectionLabel</key>
					<string>Sección 7</string>
					<key>sectionContentFile</key>
					<string>constitution_article_3_section_7</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Término del cargo; vacantes</string>
					<key>sectionLabel</key>
					<string>Sección 8</string>
					<key>sectionContentFile</key>
					<string>constitution_article_3_section_8</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Facultades de cada cámara</string>
					<key>sectionLabel</key>
					<string>Sección 9</string>
					<key>sectionContentFile</key>
					<string>constitution_article_3_section_9</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Sesiones ordinarias y extraordinarias</string>
					<key>sectionLabel</key>
					<string>Sección 10</string>
					<key>sectionContentFile</key>
					<string>constitution_article_3_section_10</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Sesiones públicas</string>
					<key>sectionLabel</key>
					<string>Sección 11</string>
					<key>sectionContentFile</key>
					<string>constitution_article_3_section_11</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Quórum</string>
					<key>sectionLabel</key>
					<string>Sección 12</string>
					<key>sectionContentFile</key>
					<string>constitution_article_3_section_12</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Lugar de reunión; suspensión de sesiones</string>
					<key>sectionLabel</key>
					<string>Sección 13</string>
					<key>sectionContentFile</key>
					<string>constitution_article_3_section_13</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Privilegios e inmunidades de miembros</string>
					<key>sectionLabel</key>
					<string>Sección 14</string>
					<key>sectionContentFile</key>
					<string>constitution_article_3_section_14</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Cargo incompatible con otros cargos</string>
					<key>sectionLabel</key>
					<string>Sección 15</string>
					<key>sectionContentFile</key>
					<string>constitution_article_3_section_15</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Facultad para reorganizar departamentos</string>
					<key>sectionLabel</key>
					<string>Sección 16</string>
					<key>sectionContentFile</key>
					<string>constitution_article_3_section_16</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Procedimiento legislativo</string>
					<key>sectionLabel</key>
					<string>Sección 17</string>
					<key>sectionContentFile</key>
					<string>constitution_article_3_section_17</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Resoluciones conjuntas</string>
					<key>sectionLabel</key>
					<string>Sección 18</string>
					<key>sectionContentFile</key>
					<string>constitution_article_3_section_18</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Aprobación de proyectos; aprobación por el Gobernador</string>
					<key>sectionLabel</key>
					<string>Sección 19</string>
					<key>sectionContentFile</key>
					<string>constitution_article_3_section_19</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Rebaja o eliminación de partidas asignando fondos</string>
					<key>sectionLabel</key>
					<string>Sección 20</string>
					<key>sectionContentFile</key>
					<string>constitution_article_3_section_20</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Procesos de residencia</string>
					<key>sectionLabel</key>
					<string>Sección 21</string>
					<key>sectionContentFile</key>
					<string>constitution_article_3_section_21</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Contralor</string>
					<key>sectionLabel</key>
					<string>Sección 22</string>
					<key>sectionContentFile</key>
					<string>constitution_article_3_section_22</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>sectionTitle</key>
			<string>Del Poder Ejecutivo</string>
			<key>sectionLabel</key>
			<string>Artículo IV</string>
			<key>sectionDir</key>
			<string>article_4</string>
			<key>sectionChildren</key>
			<array>
				<dict>
					<key>sectionTitle</key>
					<string>El Gobernador</string>
					<key>sectionLabel</key>
					<string>Sección 1</string>
					<key>sectionContentFile</key>
					<string>constitution_article_4_section_1</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Término del cargo; residencia y despacho</string>
					<key>sectionLabel</key>
					<string>Sección 2</string>
					<key>sectionContentFile</key>
					<string>constitution_article_4_section_2</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Requisitos para gobernador</string>
					<key>sectionLabel</key>
					<string>Sección 3</string>
					<key>sectionContentFile</key>
					<string>constitution_article_4_section_3</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Facultades y deberes del Gobernador</string>
					<key>sectionLabel</key>
					<string>Sección 4</string>
					<key>sectionContentFile</key>
					<string>constitution_article_4_section_4</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Nombramiento de secretarios; Consejo de Secretarios</string>
					<key>sectionLabel</key>
					<string>Sección 5</string>
					<key>sectionContentFile</key>
					<string>constitution_article_4_section_5</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Departamentos ejecutivos</string>
					<key>sectionLabel</key>
					<string>Sección 6</string>
					<key>sectionContentFile</key>
					<string>constitution_article_4_section_6</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Sustitución del Gobernador - Vacante absoluta</string>
					<key>sectionLabel</key>
					<string>Sección 7</string>
					<key>sectionContentFile</key>
					<string>constitution_article_4_section_7</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Vacante transitoria</string>
					<key>sectionLabel</key>
					<string>Sección 8</string>
					<key>sectionContentFile</key>
					<string>constitution_article_4_section_8</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Elección por Asamblea Legislativa a falta de sucesor que llene requisitos</string>
					<key>sectionLabel</key>
					<string>Sección 9</string>
					<key>sectionContentFile</key>
					<string>constitution_article_4_section_9</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Destitución del Gobernador</string>
					<key>sectionLabel</key>
					<string>Sección 10</string>
					<key>sectionContentFile</key>
					<string>constitution_article_4_section_10</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>sectionTitle</key>
			<string>Del Poder Judicial</string>
			<key>sectionLabel</key>
			<string>Artículo V</string>
			<key>sectionDir</key>
			<string>article_5</string>
			<key>sectionChildren</key>
			<array>
				<dict>
					<key>sectionTitle</key>
					<string>El Poder judicial; Tribunal Supremo; otros tribunales</string>
					<key>sectionLabel</key>
					<string>Sección 1</string>
					<key>sectionContentFile</key>
					<string>constitution_article_5_section_1</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Sistema judicial unificado; creación, competencia y organización de los tribunales</string>
					<key>sectionLabel</key>
					<string>Sección 2</string>
					<key>sectionContentFile</key>
					<string>constitution_article_5_section_2</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Tribunal Supremo será el tribunal de última instancia; organización</string>
					<key>sectionLabel</key>
					<string>Sección 3</string>
					<key>sectionContentFile</key>
					<string>constitution_article_5_section_3</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Sesiones y decisiones del Tribunal Supremo</string>
					<key>sectionLabel</key>
					<string>Sección 4</string>
					<key>sectionContentFile</key>
					<string>constitution_article_5_section_4</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Jurisdicción original del Tribunal Supremo</string>
					<key>sectionLabel</key>
					<string>Sección 5</string>
					<key>sectionContentFile</key>
					<string>constitution_article_5_section_5</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Reglas de evidencia y de procedimiento civil y criminal</string>
					<key>sectionLabel</key>
					<string>Sección 6</string>
					<key>sectionContentFile</key>
					<string>constitution_article_5_section_6</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Reglas de administración; Juez Presidente dirigirá administración y nombrará director administrativo</string>
					<key>sectionLabel</key>
					<string>Sección 7</string>
					<key>sectionContentFile</key>
					<string>constitution_article_5_section_7</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Nombramiento de jueces, funcionarios y empleados</string>
					<key>sectionLabel</key>
					<string>Sección 8</string>
					<key>sectionContentFile</key>
					<string>constitution_article_5_section_8</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Requisitos para juez del Tribunal Supremo</string>
					<key>sectionLabel</key>
					<string>Sección 9</string>
					<key>sectionContentFile</key>
					<string>constitution_article_5_section_9</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Retiro de los jueces</string>
					<key>sectionLabel</key>
					<string>Sección 10</string>
					<key>sectionContentFile</key>
					<string>constitution_article_5_section_10</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Destitución de los jueces</string>
					<key>sectionLabel</key>
					<string>Sección 11</string>
					<key>sectionContentFile</key>
					<string>constitution_article_5_section_11</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Actividades políticas de los jueces</string>
					<key>sectionLabel</key>
					<string>Sección 12</string>
					<key>sectionContentFile</key>
					<string>constitution_article_5_section_12</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Término del cargo del juez de un tribunal modificado o eliminado</string>
					<key>sectionLabel</key>
					<string>Sección 13</string>
					<key>sectionContentFile</key>
					<string>constitution_article_5_section_13</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>sectionTitle</key>
			<string>Disposiciones Generales</string>
			<key>sectionLabel</key>
			<string>Artículo VI</string>
			<key>sectionDir</key>
			<string>article_6</string>
			<key>sectionChildren</key>
			<array>
				<dict>
					<key>sectionTitle</key>
					<string>Los Municipios</string>
					<key>sectionLabel</key>
					<string>Sección 1</string>
					<key>sectionContentFile</key>
					<string>constitution_article_6_section_1</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Poder para imponer contribuciones; para contraer deudas</string>
					<key>sectionLabel</key>
					<string>Sección 2</string>
					<key>sectionContentFile</key>
					<string>constitution_article_6_section_2</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Reglas para imponer contribuciones serán uniformes</string>
					<key>sectionLabel</key>
					<string>Sección 3</string>
					<key>sectionContentFile</key>
					<string>constitution_article_6_section_3</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Elecciones</string>
					<key>sectionLabel</key>
					<string>Sección 4</string>
					<key>sectionContentFile</key>
					<string>constitution_article_6_section_4</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Promulgación de leyes; término de vigencia</string>
					<key>sectionLabel</key>
					<string>Sección 5</string>
					<key>sectionContentFile</key>
					<string>constitution_article_6_section_5</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Asignaciones, cuando no se hayan aprobado</string>
					<key>sectionLabel</key>
					<string>Sección 6</string>
					<key>sectionContentFile</key>
					<string>constitution_article_6_section_6</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Asignaciones no excederán de los recursos</string>
					<key>sectionLabel</key>
					<string>Sección 7</string>
					<key>sectionContentFile</key>
					<string>constitution_article_6_section_7</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Prioridad de desembolsos cuando recursos no basten</string>
					<key>sectionLabel</key>
					<string>Sección 8</string>
					<key>sectionContentFile</key>
					<string>constitution_article_6_section_8</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Uso de propiedades y fondos públicos</string>
					<key>sectionLabel</key>
					<string>Sección 9</string>
					<key>sectionContentFile</key>
					<string>constitution_article_6_section_9</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Compensación adicional por servicios; prórroga del término o disminución de sueldo de funcionario público; sueldo por más de un cargo</string>
					<key>sectionLabel</key>
					<string>Sección 10</string>
					<key>sectionContentFile</key>
					<string>constitution_article_6_section_10</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Sueldos de funcionarios; aumento o reducción</string>
					<key>sectionLabel</key>
					<string>Sección 11</string>
					<key>sectionContentFile</key>
					<string>constitution_article_6_section_11</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Residencia del Gobernador</string>
					<key>sectionLabel</key>
					<string>Sección 12</string>
					<key>sectionContentFile</key>
					<string>constitution_article_6_section_12</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Franquicias, derechos, privilegios y concesiones</string>
					<key>sectionLabel</key>
					<string>Sección 13</string>
					<key>sectionContentFile</key>
					<string>constitution_article_6_section_13</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Tenencia de tierras por corporaciones</string>
					<key>sectionLabel</key>
					<string>Sección 14</string>
					<key>sectionContentFile</key>
					<string>constitution_article_6_section_14</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Bandera, Escudo e Himno</string>
					<key>sectionLabel</key>
					<string>Sección 15</string>
					<key>sectionContentFile</key>
					<string>constitution_article_6_section_15</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Juramento de funcionarios y empleados públicos</string>
					<key>sectionLabel</key>
					<string>Sección 16</string>
					<key>sectionContentFile</key>
					<string>constitution_article_6_section_16</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Traslado de la sede del gobierno en caso de emergencia</string>
					<key>sectionLabel</key>
					<string>Sección 17</string>
					<key>sectionContentFile</key>
					<string>constitution_article_6_section_17</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Acciones criminales se instruirán a nombre de El Pueblo de Puerto Rico</string>
					<key>sectionLabel</key>
					<string>Sección 18</string>
					<key>sectionContentFile</key>
					<string>constitution_article_6_section_18</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Acciones criminales se instruirán a nombre de El Pueblo de Puerto Rico</string>
					<key>sectionLabel</key>
					<string>Sección 19</string>
					<key>sectionContentFile</key>
					<string>constitution_article_6_section_19</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>sectionTitle</key>
			<string>De Las Enmiendas a la Constitución</string>
			<key>sectionLabel</key>
			<string>Artículo VII</string>
			<key>sectionDir</key>
			<string>article_7</string>
			<key>sectionChildren</key>
			<array>
				<dict>
					<key>sectionTitle</key>
					<string>Proposición de Enmiendas</string>
					<key>sectionLabel</key>
					<string>Sección 1</string>
					<key>sectionContentFile</key>
					<string>constitution_article_7_section_1</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Revisión de la Constitución por Convención Constituyente</string>
					<key>sectionLabel</key>
					<string>Sección 2</string>
					<key>sectionContentFile</key>
					<string>constitution_article_7_section_2</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Limitación a las enmiendas</string>
					<key>sectionLabel</key>
					<string>Sección 3</string>
					<key>sectionContentFile</key>
					<string>constitution_article_7_section_3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>sectionTitle</key>
			<string>De Los Distritos Senatoriales Y De Los Representativos</string>
			<key>sectionLabel</key>
			<string>Artículo VIII</string>
			<key>sectionDir</key>
			<string>article_8</string>
			<key>sectionChildren</key>
			<array>
				<dict>
					<key>sectionTitle</key>
					<string>Demarcación de los distritos senatoriales y representativos</string>
					<key>sectionLabel</key>
					<string>Sección 1</string>
					<key>sectionContentFile</key>
					<string>constitution_article_8_section_1</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Zonas electorales de San Juan</string>
					<key>sectionLabel</key>
					<string>Sección 2</string>
					<key>sectionContentFile</key>
					<string>constitution_article_8_section_2</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>sectionTitle</key>
			<string>Disposiciones Transitorias</string>
			<key>sectionLabel</key>
			<string>Artículo IX</string>
			<key>sectionDir</key>
			<string>article_9</string>
			<key>sectionChildren</key>
			<array>
				<dict>
					<key>sectionTitle</key>
					<string>Continuación de Leyes, derechos, responsabilidad, etc.</string>
					<key>sectionLabel</key>
					<string>Sección 1</string>
					<key>sectionContentFile</key>
					<string>constitution_article_9_section_1</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Funcionarios existentes continuarán en sus cargos</string>
					<key>sectionLabel</key>
					<string>Sección 2</string>
					<key>sectionContentFile</key>
					<string>constitution_article_9_section_2</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Jueces existentes continuarán en sus cargos</string>
					<key>sectionLabel</key>
					<string>Sección 3</string>
					<key>sectionContentFile</key>
					<string>constitution_article_9_section_3</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>El Estado Libre Asociado de Puerto Rico será sucesor de El Pueblo de Puerto Rico</string>
					<key>sectionLabel</key>
					<string>Sección 4</string>
					<key>sectionContentFile</key>
					<string>constitution_article_9_section_4</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Expresión &quot;Ciudadano del Estado Libre Asociado de Puerto Rico&quot; sustituirá la de &quot;Ciudadano de Puerto Rico&quot;</string>
					<key>sectionLabel</key>
					<string>Sección 5</string>
					<key>sectionContentFile</key>
					<string>constitution_article_9_section_5</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Partidos políticos</string>
					<key>sectionLabel</key>
					<string>Sección 6</string>
					<key>sectionContentFile</key>
					<string>constitution_article_9_section_6</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Leyes complementarías de las disposiciones transitorias</string>
					<key>sectionLabel</key>
					<string>Sección 7</string>
					<key>sectionContentFile</key>
					<string>constitution_article_9_section_7</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>División del Departamento de Agricultura y Comercio</string>
					<key>sectionLabel</key>
					<string>Sección 8</string>
					<key>sectionContentFile</key>
					<string>constitution_article_9_section_8</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Primeras y segundas elecciones generales</string>
					<key>sectionLabel</key>
					<string>Sección 9</string>
					<key>sectionContentFile</key>
					<string>constitution_article_9_section_9</string>
				</dict>
				<dict>
					<key>sectionTitle</key>
					<string>Fecha de vigencia de la Constitución</string>
					<key>sectionLabel</key>
					<string>Sección 10</string>
					<key>sectionContentFile</key>
					<string>constitution_article_9_section_10</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
