<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bookList</key>
	<array>
		<dict>
			<key>bookName</key>
			<string>Constitucion</string>
			<key>bookShortName</key>
			<string>Constitución</string>
			<key>bookTitle</key>
			<string>Constitución del Estado Libre Asociado de Puerto Rico</string>
			<key>bookFavoritesTitle</key>
			<string>Constitución de Puerto Rico</string>
			<key>bookDescription</key>
			<string>Entró en vigor el 28 de julio de 1952</string>
			<key>bookDate</key>
			<string>Jul 25, 1952</string>
			<key>bookLastUpdate</key>
			<string>Jan 9, 2012</string>
		</dict>
		<dict>
			<key>bookName</key>
			<string>ProcedimientoCivil</string>
			<key>bookShortName</key>
			<string>Procedimiento Civil</string>
			<key>bookTitle</key>
			<string>Reglas de Procedimiento Civil</string>
			<key>bookFavoritesTitle</key>
			<string>Reglas de Procedimiento Civil</string>
			<key>bookDescription</key>
			<string>Enmendada el 29 de diciembre de 2009</string>
			<key>bookDate</key>
			<string>Dec 29, 2009</string>
			<key>bookLastUpdate</key>
			<string>Jan 9, 2012</string>
		</dict>
		<dict>
			<key>bookName</key>
			<string>Evidencia</string>
			<key>bookShortName</key>
			<string>Evidencia</string>
			<key>bookTitle</key>
			<string>Reglas de Evidencia</string>
			<key>bookFavoritesTitle</key>
			<string>Reglas de Evidencia</string>
			<key>bookDescription</key>
			<string>Enmendado el 30 de julio de 2009</string>
			<key>bookDate</key>
			<string>Jul 30, 2009</string>
			<key>bookLastUpdate</key>
			<string>Jan 9, 2012</string>
		</dict>
	</array>
</dict>
</plist>
