<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bookList</key>
	<array>
		<dict>
			<key>bookName</key>
			<string>Constitution</string>
			<key>bookShortName</key>
			<string>Constitución</string>
			<key>bookTitle</key>
			<string>Constitución del Estado Libre Asociado de Puerto Rico</string>
			<key>bookFavoritesTitle</key>
			<string>Constitución de Puerto Rico</string>
			<key>bookDescription</key>
			<string>Entró en vigor el 28 de Julio de 1952</string>
			<key>bookDate</key>
			<string>Jul 25, 1952</string>
		</dict>
		<dict>
			<key>bookName</key>
			<string>EticaProfesional</string>
			<key>bookShortName</key>
			<string>Etica</string>
			<key>bookTitle</key>
			<string>Código de Etica Profesional</string>
			<key>bookFavoritesTitle</key>
			<string>Código de Etica Profesional</string>
			<key>bookDescription</key>
			<string>Enmendado en Noviembre de 2010</string>
			<key>bookDate</key>
			<string>Dec 5, 2011</string>
		</dict>
	</array>
</dict>
</plist>
